body{margin:0; padding:0;}
.addWrap{position:relative; width:100%; background: #fff; margin: 0;padding: 0; }
.addWrap .swipe{ overflow:hidden; visibility: hidden;position: relative;}
.addWrap .swipe-wrap{overflow: hidden; postion:relative;}
.addWrap .swipe-wrap >div {float:left; width: 100%; position: relative;}

#position{ position:absolute; bottom:0;right:0; padding-right: 8px;margin:0; background: #000;  }
#position li{width:10px; height:10px; margin:0 2px; display:inline-block; -webkit-border-radius: 5px;}
#position li.cur{background: #ff0000;}
.img-responsive{ max-width:100%; height:90px;}